.tableOfContents {
  max-height: none;
  overflow: visible;
  position: static;
  /* Disable smooth scrolling behaviors */
  scroll-behavior: auto !important;
}

@media (max-width: 996px) {
  .tableOfContents {
    display: none;
  }

  .docItemContainer {
    padding: 0 0.3rem;
  }
}
